In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/CN/cars.csv')

In [ ]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [ ]:
df.isnull().sum()

brand            0
km_driven        0
fuel             0
owner            0
selling_price    0
dtype: int64

In [ ]:
df[['owner']]  #ordinal encoding

                     owner
0              First Owner
1             Second Owner
2              Third Owner
3              First Owner
4              First Owner
...                    ...
8123           First Owner
8124  Fourth & Above Owner
8125           First Owner
8126           First Owner
8127           First Owner

[8128 rows x 1 columns]

In [ ]:
df['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [ ]:
#label encoding is used for output column only

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['fuel']= le.fit_transform(df['fuel'])

In [ ]:
le.classes_

array(['CNG', 'Diesel', 'LPG', 'Petrol'], dtype=object)

In [ ]:
df

        brand  km_driven  fuel                 owner  selling_price
0      Maruti     145500     1           First Owner         450000
1       Skoda     120000     1          Second Owner         370000
2       Honda     140000     3           Third Owner         158000
3     Hyundai     127000     1           First Owner         225000
4      Maruti     120000     3           First Owner         130000
...       ...        ...   ...                   ...            ...
8123  Hyundai     110000     3           First Owner         320000
8124  Hyundai     119000     1  Fourth & Above Owner         135000
8125   Maruti     120000     1           First Owner         382000
8126     Tata      25000     1           First Owner         290000
8127     Tata      25000     1           First Owner         290000

[8128 rows x 5 columns]